<div class="card" style="width: 10rem;font-size: small; margin-left: 7px;margin-right: 7px;margin-bottom: 7px;margin-top: 7px;">
    <div class="card-header" style="font-weight: 550; font-family:Georgia, 'Times New Roman', Times, serif;">
        collaborator
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">user : {{user.nom}} {{user.prenom}}  </li>
      <li class="list-group-item">phone : {{user.tel}} </li>
      <li class="list-group-item">E-mail : {{user.email}}</li>
    </ul>
  </div>