
<div class="container p-3 mb-3 border-bottom">
  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

    <div class="dropdown text-end">click here
    </div>

    <ul class="dropdown-menu nav ">
      <li><a routerLink="signup" class="dropdown-item nav-link px-2 link-body-emphasis">Sign Up</a></li>
      <li><a routerLink="signin" class="nav-link px-2 link-body-emphasis">Sign In</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a routerLink="container" class="dropdown-item nav-link px-2 link-body-emphasis">Your tasks</a></li>
   
    </ul>



  </div>
</div>
